
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.content1 {
    position: relative; /*これで動画の前に出す！！*/
    z-index: 2; /*これで動画の前に出す！！*/

text-align:center;
width:50%;
padding:20px;
margin: 0 auto;
margin-top: 200px;
background-color:#fff;
color: #888;
}